@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: hsl(35, 77%, 62%);
    --red: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayBlue: hsl(233, 8%, 79%);
    --drkBlue: hsl(236, 13%, 42%);
    --veryDrkBlue: hsl(240, 100%, 5%);
}

/* General */

body {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    background-color: white;
    padding: 0 5%;
}

body p {
    color: var(--grayBlue);
}

h3 {
    font-size: 1.2rem;
}

h2 {
    font-size: 2.2rem;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

header a, header img {
    text-decoration: none;
    height: auto;
    max-width: 100%;
}

header i {
    font-size: 2rem;
}

/* Main */
main .readMre {
    border: 1px solid red;
}

.readMre img {
    height: auto;
    max-width: 100%;
}

.readMre h1 {
    font-size: 2.7rem;
    font-weight: 800;
}

.readMre p {
    line-height: 1.6em;
    color: var(--veryDrkBlue);
    margin: 1rem 0;
}

.readMre #readMre {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    background-color: var(--red);
    padding: 0.8rem 1.8rem;
    letter-spacing: 0.3em;
}

/* New */
main .new {
    background-color: var(--veryDrkBlue);
    color: white;
    margin: 4rem 0 2rem;
    padding: 2rem 1rem 0;
    border: 1px solid red;
    line-height: 1.4em;
}

main #gold {
    color: var(--orange);
}

main .links {
    padding: 2rem 0;
}

.links h3 {
    margin-bottom: 0.5rem;
}

main .divider {
    border-bottom: 1px solid var(--grayBlue);
}

/* List */
main .lists {
    border: 1px solid red;
}

.lists > div {
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    column-gap: 2rem;
    padding: 2rem 0;
}